.menu {
  display: flex;
  margin-top: 133px;
  margin-left: 50px;
  width: 400px;
  height: 22px;
  align-items: center;
  justify-content: space-around;
}

header {
  display: flex;
  width: 1100px;
  height: 293px;
  border: 1px solid black;
}

.logo {
  margin-top: 92px;
  margin-left: 37px;
}

.contacts {
  width: 240px;
  height: 98px;
  margin-top: 95px;
  margin-left: 184px;

  line-height: 25px;
}