* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.menu{
  display: flex;
  margin-left: 45px;
  align-items: center;
  font-size: 18px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
  width: 100%;
  max-width: 393px;
  height: auto;
}

.menu-list-item-marker {
  list-style: circle;
}

.menu-list-item_no-marker {
  list-style: none;
}

.menu-link-active {
  text-decoration: none;
}

.header {
  background-color: white;
  display: flex;
  min-height: 293px;
}

.logo {
  margin-top: 92px;
  margin-left: 45px;
}

.contacts {
  margin-top: 95px;
  margin-left: 192px;
}

.contacts-style {
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
}

/* ============Конец header, начало cover============ */

.section-cover {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;

  background-image: url("../images/cover.jpg");
  background-position: top;
  background-size: auto 757px;
}

.cover-image {
  width: auto;

}

.cover-text-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 155px;
  padding-left: 50px;
  width: 1080px;
  z-index: 2;
}

.cover-text {
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 30%;
  line-height: 135px;

}

.cover-button {
  text-transform: uppercase;
  font-size: 22px;
  color: white;
  height: 50px;
  width: 255px;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
}

.cover-word-left {
  display: block;
  text-align: start;
  
}

.cover-word-center {
  display: block;
  text-align: center;
}

.cover-word-right {
  display: block;
  text-align: end;
}

.cover-description {
  display: flex;
  justify-content: space-between;
  padding: 96px 51px 51px;
  width: auto;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  z-index: 2;
}

.cover-description-text {
  display: flex;
  padding-top: 14px;
  text-align: justify;
  word-spacing: 83%;
}

.overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
  z-index: 1;
}

/* ============Конец cover, начало lots============ */

.section-lots {
  display: flex;
  background-color: white;
  justify-content: center;
}

.lots-title {
  display: flex;
  width: 100%;
  padding-top: 176px;
  padding-left: 41px;
  padding-bottom: 0px;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 60px;
  font-weight: 510;
}

.lots-list {
  display: flex;
  gap: 24px;
  box-sizing: border-box;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 20px;
  justify-content: space-between;
}

.card {
  display: flex;
  position: relative;
  min-height: 596px;
  width: 334px;
  background-position: top;
  background-size: auto 596px;
  box-sizing: border-box;
  color: white;
  flex-wrap: wrap;
}

.card-title {
  display: flex;
  z-index: 2;
  padding: 48px 40px 0 40px;
  line-height: 25px;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: bold;
  font-size: 22px;
  color: white;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  color: white;
  line-height: 120%;
  font-size: 20px;
  padding: 0px 40px 45px 40px;
}

.card-left {
  background-image: url(../images/card-lot-01.jpg);
}

.card-middle {
  background-image: url(../images/card-lot-02.jpg);
}

.card-right {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-button {
  display: block;
  height: auto;
  width: 200px;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  margin-left: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* ============Конец lots, начало description============ */

.section-description {
  background-color: white;
  margin: 96px 0 180px 0;
}

.description {
  display: flex;
  padding: 60px 0 0 70px;
}

.description-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: black;
}

.description-text-column {
  display: flex;
  flex-direction: column;
  width: 710px;
  margin: 100px 0 0 73px;
}

.description-title {
  display: flex;
  justify-content: left;
  text-transform: uppercase;
  font-size: 40px;
}

.description-text {
  display: flex;
  flex-direction: column;
}

.description-text-upper {
  display: flex;
  font-size: 20px;
  width: 687px;
  padding-top: 101px;
  padding-bottom: 23px;
}

.description-text-lower {
  display: flex;
  font-size: 20px;
  width: 693px;
}

/* ============Конец description, начало footer============ */

.footer {
  display: flex;
  justify-content: space-between;
  width: auto;
  background-color: white;
  padding-left: 50px;
  padding-bottom: 80px;
}

.menu-list-footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0;
  font-size: 18px;
  list-style: none;
  text-underline-offset: 4px;
}

.socials {
  display: flex;
  padding-right: 50px;
  justify-content: space-between;
  margin-left: 10px;
  width: 290px;
  list-style: none;
}


